@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 93%;
    --foreground: 25 76% 20%;
    --card: 0 0% 100%;
    --card-foreground: 25 76% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 25 76% 20%;

    --primary: 80 45% 25%;
    --primary-foreground: 0 0% 100%;

    --secondary: 11 44% 58%;
    --secondary-foreground: 0 0% 100%;

    --muted: 40 20% 88%;
    --muted-foreground: 25 20% 45%;

    --accent: 25 76% 31%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 40 20% 85%;
    --input: 40 20% 85%;
    --ring: 80 45% 25%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
